
<polymer-element name="cr-action">
    <template>
        <style>
            a {
                color: #1155CC;
                cursor: pointer;
                display: inline-block;
                text-decoration: none;
            }

            :host(:not([selectable])) a {
                -webkit-user-select: none;
            }

            a:hover {
                text-decoration: underline;
            }
        </style>
        <a tabindex="0"
            on-keypress="{{ handleKeypress }}"
            on-click="{{ handleClick }}"><content></content></a>
    </template>
    <script>
        Polymer("cr-action", {
            handleKeypress: function(event) {
                // Enter key
                if (event.keyCode == 13 || event.keyCode == 32) {
                    this.fire("tap");
                    event.preventDefault();
                }
            },
        });
    </script>
</ploymer-element>
