
<!--
    This is similar to a button, but appears like a link instead. It's generally
    for non-destructive actions and should never navigate the page.

    ex. <cr-action on-tap="{{ doSomething }}"></cr-action>

    Note: This element is very common on typical pages so it's been micro
    optimized to not contain any whitespace and not use data binding in the
    template.
-->
<polymer-element name="cr-action" on-keyup="{{ handleKeyup }}" on-click="{{ handleClick }}">
    <template><style>
            :host {
                display: inline-block;
            }

            :host(:not([selectable])) {
                -webkit-user-select: none;
            }

            a {
                color: #1155CC;
                cursor: pointer;
                display: inline-block;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        </style><a href="/#"><content></content></a></template>
    <script>
        Polymer("cr-action", {
            handleKeyup: function(event) {
                // Enter and spacebar keys
                if (event.keyCode == 13 || event.keyCode == 32) {
                    this.fire("tap");
                    event.preventDefault();
                }
            },
            handleClick: function(event) {
                event.preventDefault();
            },
        });
    </script>
</ploymer-element>
