
<link rel="import" href="cr-patch-file-message.html">

<polymer-element name="cr-diff" attributes="file active">
    <template>
        <style>
            :host {
                display: block;
                padding: 0.25em 16px;
            }

            .remove .text {
                background-color: #fdd;
            }

            .add .text {
                background-color: #dfd;
            }

            .row {
                display: flex;
            }

            .text {
                flex: 1;
            }

            .line-number,
            .text {
                white-space: pre-wrap;
                word-wrap: break-word;
                font-family: Monaco, monospace;
                flex-shrink: 0;
            }

            .line-number {
                width: 3em;
                text-align: right;
                color: #444;
                margin-right: 16px;
            }

            .messages {
                border: 1px solid #ccc;
                margin-left: calc(6em + 32px);
            }

            cr-patch-file-message {
                background-color: #ffd;
                border-bottom: 1px solid #ccc;
            }

            cr-patch-file-message:last-child {
                border-bottom: none;
            }
        </style>
        <div id="output">
        </div>
    </template>
    <script>
        Polymer("cr-diff", {
            file: null,
            active: false,
            diff: null,
            fileChanged: function(oldValue, newValue) {
                var output = this.$.output;
                output.innerHTML = "";
            },
            activeChanged: function(oldValue, newValue) {
                if (!this.file)
                    return;
                var self = this;
                if (newValue && !this.diff) {
                    this.file.loadDiff().then(function(diff) {
                        self.diff = diff;
                        self.createDiff();
                    }).catch(function(e) {
                        console.log(e);
                    });
                } else if (newValue) {
                    this.createDiff();
                } else {
                    this.$.output.innerHTML = "";
                }
            },
            createDiff: function() {
                if (!this.active)
                    return;
                var output = this.$.output;
                var file = this.file;
                this.diff.groups.forEach(function(group) {
                    var section = document.createElement("div");
                    output.appendChild(section);

                    group.forEach(function(line) {
                        var row = document.createElement("div");
                        row.className = "row " + line.type;
                        section.appendChild(row);

                        var beforeMessages;
                        var before = row.appendChild(document.createElement("div"));
                        before.className = "line-number";
                        if (line.type == "both" || line.type == "remove" || line.type == "header") {
                            beforeMessages = file.messages[line.beforeNumber];
                            before.textContent = line.beforeNumber;
                        }
                        row.appendChild(before);

                        var afterMessages;
                        var after = row.appendChild(document.createElement("div"));
                        after.className = "line-number";
                        if (line.type == "both" || line.type == "add" || line.type == "header") {
                            afterMessages = file.messages[line.afterNumber];
                            after.textContent = line.afterNumber;
                        }
                        row.appendChild(after);

                        var text = row.appendChild(document.createElement("div"));
                        text.className = "text";
                        text.textContent = line.text;
                        row.appendChild(text);

                        if (!beforeMessages && !afterMessages)
                            return;

                        var messages = document.createElement("div");
                        messages.className = "messages";

                        if (beforeMessages) {
                            beforeMessages.forEach(function(message) {
                                if (!message.left)
                                    return;
                                var fileMessage = document.createElement("cr-patch-file-message");
                                fileMessage.message = message;
                                fileMessage.innerHTML = JSON.stringify(message);
                                messages.appendChild(fileMessage);
                            });
                        }

                        if (afterMessages) {
                            afterMessages.forEach(function(message) {
                                if (message.left)
                                    return;
                                var fileMessage = document.createElement("cr-patch-file-message");
                                fileMessage.message = message;
                                messages.appendChild(fileMessage);
                            });
                        }

                        if (messages.firstChild)
                            section.appendChild(messages);
                    });
                });
            }
        });
    </script>
</ploymer-element>
