
<link rel="import" href="cr-patch-file-message.html">

<polymer-element name="cr-diff" attributes="value messages">
    <template>
        <style>
            :host {
                display: block;
                padding: 0.25em 16px;
            }

            .remove {
                background-color: #fdd;
            }

            .add {
                background-color: #dfd;
            }

            .row {
                display: flex;
            }

            .text {
                flex: 1;
            }

            .line-number,
            .text {
                white-space: pre-wrap;
                font-family: Monaco, monospace;
                flex-shrink: 0;
            }

            .line-number {
                width: 3em;
                text-align: right;
                color: #444;
                margin-right: 16px;
            }

            .messages {
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
            }

            cr-patch-file-message {
                border-bottom: 1px solid #ccc;
            }

            cr-patch-file-message:last-child {
                border-bottom: none;
            }
        </style>
        <div id="output">
        </div>
    </template>
    <script>
        Polymer("cr-diff", {
            value: null,
            messages: {},
            valueChanged: function(oldValue, newValue) {
                var self = this;
                var output = this.$.output;

                output.innerHTML = "";

                if (!newValue)
                    return;

                newValue.groups.forEach(function(group) {
                    var section = document.createElement("div");
                    output.appendChild(section);

                    group.forEach(function(line) {
                        var row = document.createElement("div");
                        row.className = "row " + line.type;
                        section.appendChild(row);

                        var beforeMessages;
                        var before = row.appendChild(document.createElement("div"));
                        before.className = "line-number";
                        if (line.type == "both" || line.type == "remove" || line.type == "header") {
                            beforeMessages = self.messages[line.beforeNumber];
                            before.textContent = line.beforeNumber;
                        }
                        row.appendChild(before);

                        var afterMessages;
                        var after = row.appendChild(document.createElement("div"));
                        after.className = "line-number";
                        if (line.type == "both" || line.type == "add" || line.type == "header") {
                            afterMessages = self.messages[line.afterNumber];
                            after.textContent = line.afterNumber;
                        }
                        row.appendChild(after);

                        var text = row.appendChild(document.createElement("div"));
                        text.className = "text";
                        text.textContent = line.text;
                        row.appendChild(text);

                        if (!beforeMessages && !afterMessages)
                            return;

                        var messages = document.createElement("div");
                        messages.className = "messages";
                        section.appendChild(messages);

                        if (beforeMessages) {
                            beforeMessages.forEach(function(message) {
                                if (!message.left)
                                    return;
                                var fileMessage = document.createElement("cr-patch-file-message");
                                fileMessage.message = message;
                                fileMessage.innerHTML = JSON.stringify(message);
                                messages.appendChild(fileMessage);
                            });
                        }

                        if (afterMessages) {
                            afterMessages.forEach(function(message) {
                                if (message.left)
                                    return;
                                var fileMessage = document.createElement("cr-patch-file-message");
                                fileMessage.message = message;
                                messages.appendChild(fileMessage);
                            });
                        }
                    });
                });
            }
        });
    </script>
</ploymer-element>
