
<link rel="import" href="cr-diff-image.html">
<link rel="import" href="cr-patch-file-message.html">

<script src="../lib/highlight/highlight.pack.js"></script>

<polymer-element name="cr-diff" attributes="file active">
    <template>
        <link rel="stylesheet" href="cr-diff.css">
        <link rel="stylesheet" href="../lib/highlight/styles/default.css">
        <link rel="stylesheet" href="../lib/highlight/styles/googlecode.css">
        <template if="{{ loading }}">
            <img src="../images/dots16.gif" class="spinner">
        </template>
        <div id="output"
            on-file-message-save="{{ saveDraft }}"
            on-file-message-discard="{{ discardDraft }}"
            on-file-message-cancel="{{ cancelDraft }}"
            on-file-message-reply="{{ replyDraft }}"
            on-tap="{{ handleTap }}"></div>
    </template>
    <script>
        Polymer("cr-diff", {
            publish: {
                active: { value: false, reflect: true },
            },
            loading: false,
            file: null,
            fileChanged: function(oldValue, newValue) {
                var output = this.$.output;
                if (output.firstChild)
                    output.innerHTML = "";
            },
            handleTap: function(event) {
                var element = event.target;
                if (!element.classList.contains("line-number"))
                    return;
                var row = element.parentNode;
                this.addMessage(row);
            },
            saveDraft: function(event) {
                var self = this;
                var message = event.detail.message;
                var text = event.detail.text;
                var target = event.target;
                this.fire("butterbar-update", {
                    message: "Saving..."
                });
                this.file.saveDraft(message, text).then(function() {
                    self.fire("butterbar-update");
                    target.expanded = false;
                }).catch(function(e) {
                    self.fire("butterbar-update");
                    console.log(e);
                });
            },
            cancelDraft: function(event) {
                var message = event.detail.message;
                var target = event.target;
                if (!message.date)
                    target.remove();
            },
            discardDraft: function(event) {
                var self = this;
                var message = event.detail.message;
                var target = event.target;
                this.fire("butterbar-update", {
                    message: "Saving..."
                });
                this.file.discardDraft(message).then(function() {
                    self.fire("butterbar-update");
                    target.remove();
                }).catch(function(e) {
                    self.fire("butterbar-update");
                    console.log(e);
                });
            },
            replyDraft: function(event) {
                var message = event.target.message;
                // FIXME: This is code duplication with <cr-issue-message-reply>.
                var date = message.date.utc(true).format("On {yyyy}/{MM}/{dd} at {HH}:{mm}:{ss}");
                var value = date + ", " + message.author.name + " wrote:\n";
                message.text.split("\n").forEach(function(line) {
                    value += "> " + line + "\n";
                });
                value += "\n";
                var row = event.target.parentNode.previousSibling;
                this.addMessage(row, value);
            },
            addMessage: function(row, defaultText) {
                if (row.classList.contains("header"))
                    return;
                if (!row.nextSibling || !row.nextSibling.classList.contains("messages")) {
                    var messages = document.createElement("div");
                    messages.className = "messages";
                    row.parentNode.insertBefore(messages, row.nextSibling);
                }
                var messages = row.nextSibling.querySelectorAll("cr-patch-file-message").array();
                var existingDraft = messages.find(function(fileMessage) {
                    return fileMessage.message.draft;
                });
                if (existingDraft) {
                    existingDraft.expand();
                    existingDraft.focusInput();
                    return;
                }
                var numbers = row.querySelectorAll(".line-number");
                var message = PatchFileMessage.createDraft();
                message.text = defaultText || "";
                if (row.classList.contains("remove")) {
                    message.line = numbers[0].textContent.toNumber();
                    message.left = true;
                } else {
                    message.line = numbers[1].textContent.toNumber();
                }
                var fileMessage = document.createElement("cr-patch-file-message");
                fileMessage.message = message;
                fileMessage.expand();
                row.nextSibling.appendChild(fileMessage);
            },
            showDiff: function() {
                var self = this;
                if (this.active)
                    return Promise.resolve(this);
                this.active = true;
                this.loading = true;
                return this.file.loadDiff().then(function(diff) {
                    self.loading = false;
                    if (!self.active)
                        return;
                    var builder = new DiffBuilder(diff, self.file, self.$.output);
                    builder.createDiff();
                }).catch(function(e) {
                    self.loading = false;
                    self.active = false;
                    console.log(e);
                });
            },
            hideDiff: function() {
                if (!this.active)
                    return Promise.resolve(this);
                this.active = false;
                this.$.output.innerHTML = "";
                return Promise.resolve(this);
            },
            toggleDiff: function() {
                return this.active ? this.hideDiff() : this.showDiff();
            },
        });
    </script>
</ploymer-element>
