:host {
    display: block;
}

a {
    text-decoration: none;
    color: black;
}

.issue span {
    padding: 0.5em 16px;
}

.issues {
    display: table;
}

.issue {
    border-bottom: 1px solid #E6E6E6;
    display: table-row;
    -webkit-user-select: none;
    cursor: default;
}

.issue:nth-child(2n) {
    background-color: #F8F8F8;
}

.issue:hover {
    background-color: #F9F3E4;
}

.issue-data {
    display: table-cell;
}

.issue-date,
.issue-id,
.issue-owner {
    white-space: nowrap;
}

.issue-subject {
    width: 100%;
}
