
<polymer-element name="cr-issue-patchsets" attributes="patchsets" cache-csstext>
    <template>
        <link rel="stylesheet" href="common.css">
        <link rel="stylesheet" href="cr-issue-patchsets.css">

        <template if="{{ patchsets }}">           
            <polymer-ui-accordion multi selected="{{ [ patchsets.length - 1 ] }}">
                <template repeat="{{ patchset, i in patchsets }}">
                    <polymer-ui-collapsible class="patchset">
                        <div class="patchset-header polymer-ui-collapsible-header">
                            <div class="patchset-title">
                                Patch set {{ i + 1 }}<template if="{{ patchset.message }}">: {{ patchset.message }}</template>
                            </div>
                            <div class="patchset-date">{{ patchset.created | formatDate }}</div>
                        </div>
                        <div class="files">
                            <template repeat="{{ file in patchset.files }}">
                                <div class="file">
                                    <div class="file-status">{{ file.status }}</div>
                                    <div class="file-removed">-{{ file.removed }}</div>
                                    <div class="file-added">+{{ file.added }}</div>
                                    <a class="file-name" href="#/issue/{{ patchset.issue.id }}/{{ patchset.id }}/{{ file.name }}">{{ file.name }}</a>
                                    <div class="file-messages">{{ file.messages.length | commentCount }}</div>
                                </div>
                            </template>
                        </div>
                    </polymer-ui-collapsible>
            </template>
        </template>
    </template>
    <script>
        Polymer("cr-issue-patchsets", {
            patchsets: null,
            formatDate: function(date) {
                if (!date)
                    return "";
                return date.relative();
            },
            commentCount: function(messageCount) {
                if (!messageCount)
                    return "";
                if (messageCount == 1)
                    return messageCount + " comment";
                return messageCount + " comments";
            },
        });
    </script>
</polymer-element>
