
<link rel="import" href="../../bower_components/polymer-ui-accordion/polymer-ui-accordion.html">
<link rel="import" href="../../bower_components/polymer-ui-toggle-button/polymer-ui-toggle-button.html">

<link rel="import" href="cr-linkified-text.html">
<link rel="import" href="cr-issue-message-reply.html">

<polymer-element name="cr-issue-messages" attributes="messages" cache-csstext>
    <template>
        <link rel="stylesheet" href="cr-issue-messages.css">

        <template if="{{ messages.length }}">
            <polymer-ui-accordion multi selected="{{ [ messages.length - 1 ] }}">
                <template repeat="{{ message, i in messages }}">
                    <polymer-ui-collapsible class="message">
                        <div class="message-header polymer-ui-collapsible-header {{ {approval: message.approval, disapproval: message.disapproval} | tokenList }}">
                            <div class="message-title">
                                <div class="message-author">{{ message.author.displayName }}</div>
                                <div class="message-preview">{{ message.text | messagePreview }}</div>
                            </div>
                            <div class="message-date">
                                {{ message.date | formatDate }}
                            </div>
                        </div>
                        <div class="message-text"><cr-linkified-text text="{{ message.text }}"></cr-linkified-text></div>
                        <div class="message-toolbar">
                            <cr-issue-message-reply message="{{ message }}"></cr-issue-message-reply>
                        </div>
                    </polymer-ui-collapsible>
                </template>
            </polymer-ui-accordion>
        </template>
    </template>
    <script>
    (function() {
        var REPLY_HEADER = /On \d+\/\d+\/\d+ \d+:\d+:\d+, .*? wrote:/;
        var FILE_HEADER = /https:\/\/codereview.chromium.org\/\d+\/diff\/\d+\/.*/;

        Polymer("cr-issue-messages", {
            messages: null,
            formatDate: function(date) {
                if (!date)
                    return "";
                return date.relative();
            },
            messagePreview: function(text) {
                var lines = text.trim().split("\n");
                var i = 0;

                if (REPLY_HEADER.test(lines[i])) {
                    ++i;
                    while (lines[i].startsWith(">"))
                        ++i;
                }

                if (FILE_HEADER.test(lines[i]))
                    i += 5;

                return lines.slice(i).join("\n");
            }
        });
    })();
    </script>
</polymer-element>
