:host { display: block; }

.patchset {
    border-color: #ccc;
    border-width: 1px 1px 0 1px;
    border-style: solid;
}

.patchset:last-child {
    border-width: 1px;
}

.patchset-header {
    background: #F6F6F6;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    padding: 0.5em 16px;
    position: relative;
}

.patchset:not([active]) .patchset-header:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.patchset-title {
    flex: 1;
    font-weight: bold;
}

.files {
    margin: 0.5em 8px 0.5em 8px;
}

.file {
    padding: 0.25em 16px;
    display: flex;
}

.file-name {
    padding: 0.25em 8px;
    flex: 1;
}

.file-status,
.file-added,
.file-removed {
    white-space: nowrap;
    flex-shrink: 0;
}

.file-status {
    min-width: 2em;
}

.file-added,
.file-removed {
    min-width: 3em;
}

.file-added {
    color: #009933;
}

.file-removed {
    color: #DD4B39;
}

.polymer-ui-collapsible-header {
    cursor: default;
    -webkit-user-select: none;
}

cr-diff {
    border-bottom: 1px solid #ccc;
}
