:host { display: block; }

h2 {
    -webkit-user-select: none;
    cursor: default;
}

.commit-status {
    border: 1px solid #e5e5e5;
    margin: 1em 16px;
}

.issue-subject {
    padding: 0.5em 16px;
}

.issue-description {
    margin: 1em 16px;
}

.issue-content {
    flex: 1;
}

.issue-body {
    display: flex;
}

.issue-toolbar {
    border-bottom: 1px #e5e5e5 solid;
}

cr-issue-patchsets,
cr-issue-messages {
    padding: 0.5em 16px;
}

cr-issue-meta {
    flex-shrink: 0;
    width: 300px;
    padding: 1em 16px;
}

header {
    align-items: center;
    display: flex;
}

header .ui-actions {
    padding: 0.5em 16px;
    flex-shrink: 0;
}

header h2 {
    flex: 1;
}

.issue-toolbar .ui-actions {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
