
<link rel="import" href="cr-issue-list.html">

<polymer-element name="cr-issue-inbox" attributes="issues" noscript>
    <template>
        <link rel="stylesheet" href="common.css">

        <h1>Issues with Drafts</h2>
        <cr-issue-list issues="{{ issues.draft }}"></cr-issue-list>

        <h1>Outgoing</h2>
        <cr-issue-list issues="{{ issues.outgoing }}"></cr-issue-list>

        <h1>Unsent</h2>
        <cr-issue-list issues="{{ issues.unsent }}"></cr-issue-list>

        <h1>Incoming</h2>
        <cr-issue-list issues="{{ issues.incoming }}"></cr-issue-list>

        <h1>CCed</h2>
        <cr-issue-list issues="{{ issues.cc }}"></cr-issue-list>

        <h1>Recently Closed</h2>
        <cr-issue-list issues="{{ issues.closed }}"></cr-issue-list>
    </template>
</polymer-element>
