
<polymer-element name="cr-issue-edit-dialog" attributes="issue" cache-csstext>
    <template>
        <link rel="stylesheet" href="common.css">
        <style>
            #dialog {
                max-width: 800px;
                padding: 0;
                border: 1px solid #ccc;
                box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
                top: 100px;
                color: #222;
            }

            h1 {
                -webkit-user-select: none;
                cursor: default;
            }

            .issue-edit-fields {
                display: table;
                width: 100%;
            }

            .issue-edit-row {
                display: table-row;
            }

            .issue-edit-label {
                font-weight: bold;
                color: #959595;
                -webkit-user-select: none;
                cursor: default;
            }

            .issue-edit-field {
                position: relative;
            }

            .issue-edit-label,
            .issue-edit-field {
                display: table-cell;
                padding: 1em 16px;
                vertical-align: top;
            }

            .issue-edit-field,
            .issue-edit-field input,
            .issue-edit-field textarea {
                width: 100%;
            }

            .issue-edit-toolbar {
                padding: 1em 16px;
            }

            .issue-edit-toolbar button {
                margin-right: 16px;
            }

            .issue-edit-error {
                display: block;
                color: #DD4B39;
                font-weight: bold;
                padding-top: 0.5em;
            }

            .issue-edit-field.error input, 
            .issue-edit-field.error textarea {
                border: 1px solid #DD4B39;
            }

            .butterbar {
                position: absolute;
                top: -90px;
                width: 100%;
                box-sizing: border-box;
                text-align: center;
                display: none;
            }

            .butterbar span {
                background-color: #F9EDBE;
                border: 1px solid #F0C36D;
                box-shadow: 0 2px 4px rgba(0,0,0,0.2);
                border-radius: 2px;
                padding: 0.25em 16px;
            }

            .butterbar.visible {
                display: block;
            }

            .completions {
                position: absolute;
                border: 1px solid #ccc;
                border-top: none;
                background-color: white;
                left: 0;
                right: 0;
                margin: 0 16px;
                font-family: Monaco, monospace;
                font-size: 0.9em;
                z-index: 1;
                -webkit-user-select: none;
                cursor: default;
            }

            .completion {
                padding: 0.5em 16px;
            }

            .completion:hover {
                background-color: #eee;
            }
        </style>

        <dialog id="dialog" on-cancel="{{ cancelCompletion }}">
            <div class="butterbar {{ {visible: butterbarMessage} | tokenList }}">
                <span>{{ butterbarMessage }}</span>
            </div>

            <h1>Edit Issue</h1>

            <div class="issue-edit-fields" on-tap="{{ cancelCompletion }}" on-focusin="{{ cancelCompletion }}">
                <div class="issue-edit-row">
                    <label class="issue-edit-label" for="subject">Title</label>
                    <div class="issue-edit-field {{ {error: errors.subject} | tokenList }}">
                        <input type="text" id="subject" value="{{ subject }}" autocomplete="off">
                        <div class="issue-edit-error">{{ errors.subject }}</div>
                    </div>
                </div>

                <div class="issue-edit-row" id="reviewersField">
                    <label class="issue-edit-label" for="reviewers">Reviewers</label>
                    <div class="issue-edit-field {{ {error: errors.reviewers} | tokenList }}">
                        <input type="text" id="reviewers" value="{{ reviewers }}" autocomplete="off">
                        <template if="{{ reviewerCompletions.length }}">
                            <div class="completions" on-tap="{{ selectReviewer }}">
                                <template repeat="{{ user, i in reviewerCompletions }}">
                                    <div class="completion" role="button">{{ user.email }}</div>
                                </template>
                            </div>
                        </template>
                        <div class="issue-edit-error">{{ errors.reviewers }}</div>
                    </div>
                </div>

                <div class="issue-edit-row">
                    <label class="issue-edit-label" for="cc">CC</label>
                    <div class="issue-edit-field {{ {error: errors.cc} | tokenList }}">
                        <input type="text" id="cc" value="{{ cc }}" autocomplete="off">
                        <div class="issue-edit-error">{{ errors.cc }}</div>
                    </div>
                </div>

                <div class="issue-edit-row">
                    <label class="issue-edit-label" for="description">Description</label>
                    <div class="issue-edit-field {{ {error: errors.description} | tokenList }}">
                        <textarea id="description" value="{{ description }}" rows="10"></textarea>
                        <div class="issue-edit-error">{{ errors.description }}</div>
                    </div>
                </div>
            </div>

            <div class="issue-edit-toolbar">
                <button class="primary-action" on-tap="{{ save }}">Save</button>
                <button on-tap="{{ close }}">Cancel</button>
            </div>
        </dialog>
    </template>
    <script>
        Polymer("cr-issue-edit-dialog", {
            issue: null,
            subject: "",
            reviewers: "",
            cc: "",
            description: "",
            errors: null,
            butterbarMessage: "",
            cancelCompletion: function(event) {
                if (this.reviewerCompletions.length && event.type == "cancel") {
                    event.preventDefault();
                    this.reviewerCompletions = [];
                    return;
                }
                if (this.$.reviewersField.contains(event.target))
                    return;
                this.resetAutocomplete();
            },
            reviewersChanged: function(oldValue, newValue) {
                var NAME_PATTERN = /[a-z0-9.\-_]+/;
                var WHITESPACE = /\s/;
                var self = this;
                if (this.didComplete) {
                    this.didComplete = false;
                    return;
                }
                this.reviewerCompletions = [];
                var selectionStart = this.$.reviewers.selectionStart;
                var end = this.reviewers.indexOf(",", selectionStart);
                if (end == -1)
                    end = selectionStart;
                var start = this.reviewers.lastIndexOf(",", end - 1) + 1;
                while (WHITESPACE.test(this.reviewers[start]))
                    start++;
                var name = this.reviewers.substring(start, end);
                if (!NAME_PATTERN.test(name))
                    return;
                this.completionRange = {
                    start: start,
                    end: end,
                    text: name,
                };
                Search.findUsers(name).then(function(users) {
                    self.reviewerCompletions = users;
                });
            },
            selectReviewer: function(event) {
                var email = event.target.textContent;
                var range = this.completionRange;
                var before = this.reviewers.substring(0, this.completionRange.start);
                var after = this.reviewers.substring(this.completionRange.end);
                this.reviewers = (before + email + after).trim();
                this.resetAutocomplete();
                this.didComplete = true;
                this.async(function() {
                    var position = range.end + email.length - range.text.length;
                    this.$.reviewers.setSelectionRange(position, position);
                });
            },
            resetAutocomplete: function() {
                this.reviewerCompletions = [];
                this.completionRange = {};
            },
            close: function() {
                this.reviewers = "";
                this.reset();
                this.$.dialog.close();
            },
            reset: function() {
                this.butterbarMessage = "";
                this.errors = {};
            },
            save: function() {
                var data = {
                    subject: this.subject,
                    reviewers: this.reviewers,
                    cc: this.cc,
                    description: this.description,
                };
                this.butterbarMessage = "Saving...";
                this.issue.edit(data)
                    .then(this.saveSuccess.bind(this))
                    .catch(this.saveFailure.bind(this));
            },
            saveSuccess: function() {
                this.fire("issue-refresh");
                this.close();
            },
            saveFailure: function(error) {
                this.reset();
                if (!error.fieldName) {
                    // FIXME: Show a better error message, deal with network errors.
                    return;
                }
                this.errors[error.fieldName] = error.message;
            },
            showModal: function() {
                if (!this.issue)
                    return;
                this.didComplete = true;
                this.subject = this.issue.subject;
                this.description = this.issue.description;
                this.reviewers = this.issue.reviewers.map(function(user) {
                    return user.email;
                }).join(", ");
                this.cc = this.issue.cc.map(function(user) {
                    return user.email;
                }).join(", ");
                this.$.dialog.showModal();
            },
        });
    </script>
</polymer-element>
