
<link rel="import" href="cr-action.html">
<link rel="import" href="cr-issue-patchfile.html">
<link rel="import" href="cr-issue-try-results.html">
<link rel="import" href="cr-toolbar.html">

<polymer-element name="cr-issue-patchset" attributes="patchset">
    <template>
        <link rel="stylesheet" href="common.css">
        <link rel="stylesheet" href="cr-issue-patchset.css">
        <template if="{{ patchset.files.length }}">
            <header>
                <h2>Files</h2>
                <div class="ui-actions">
                    <cr-action on-tap="{{ expandAllDiffs }}">Show Diffs</cr-action> /
                    <cr-action on-tap="{{ collapseAllDiffs }}">Hide Diffs</cr-action>
                </div>
            </header>
        </template>
        <div id="files">
            <template repeat="{{ file in patchset.files }}">
                <cr-issue-patchfile file="{{ file }}"></cr-issue-patchfile>
            </template>
        </div>
        <template if="{{ patchset.tryJobResults.length && !patchset.commit }}">
            <h2>Try job results</h2>
            <cr-issue-try-results results="{{ patchset.tryJobResults }}"></cr-issue-try-results>
        </template>
    </template>
    <script>
        Polymer("cr-issue-patchset", {
            patchset: null,
            getFiles: function() {
                return toArray(this.$.files.querySelectorAll("cr-issue-patchfile"));
            },
            expandAllDiffs: function() {
                return Promise.all(this.getFiles().map(function(file) {
                    return file.showDiff();
                }));
            },
            collapseAllDiffs: function() {
                return Promise.all(this.getFiles().map(function(file) {
                    return file.hideDiff();
                }));
            },
        });
    </script>
</polymer-element>
