
<link rel="import" href="cr-butterbar.html">
<link rel="import" href="cr-button.html">
<link rel="import" href="cr-issue-editor.html">
<link rel="import" href="cr-toolbar.html">

<polymer-element name="cr-issue-edit-dialog" attributes="issue">
    <template>
        <link rel="stylesheet" href="common.css">
        <style>
            #dialog {
                max-width: 800px;
                padding: 0;
                border: 1px solid #ccc;
                box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
                top: 100px;
                color: #222;
            }

            h1 {
                -webkit-user-select: none;
                cursor: default;
            }
        </style>

        <dialog id="dialog" on-cancel="{{ cancel }}">
            <cr-butterbar message="{{ butterbarMessage }}"></cr-butterbar>

            <h1>Edit Issue</h1>

            <cr-issue-editor id="editor" issue="{{ issue }}" errors="{{ errors }}" disabled?="{{ saving }}"></cr-issue-editor>

            <cr-toolbar>
                <cr-button primary on-tap="{{ save }}">Save</cr-button>
                <cr-button on-tap="{{ cancel }}">Cancel</cr-button>
            </cr-toolbar>
        </dialog>
    </template>
    <script>
        Polymer("cr-issue-edit-dialog", {
            issue: null,
            errors: {},
            butterbarMessage: "",
            saving: false,
            cancel: function(event) {
                if (this.$.editor.dismissAutocomplete()) {
                    event.preventDefault();
                    return;
                }
                this.close();
            },
            reset: function() {
                this.saving = false;
                this.butterbarMessage = "";
                this.errors = {};
                this.$.editor.dismissAutocomplete();
            },
            close: function() {
                this.reset();
                this.$.dialog.close();
            },
            save: function() {
                var data = this.$.editor.createEditData();
                this.saving = true;
                this.butterbarMessage = "Saving...";
                this.issue.edit(data)
                    .then(this.saveSuccess.bind(this))
                    .catch(this.saveFailure.bind(this));
            },
            saveSuccess: function() {
                this.fire("issue-refresh");
                this.close();
            },
            saveFailure: function(error) {
                this.reset();
                if (!error.fieldName) {
                    // FIXME: Show a better error message, deal with network errors.
                    return;
                }
                this.errors[error.fieldName] = error.message;
            },
            showModal: function() {
                if (!this.issue)
                    return;
                this.$.editor.reset();
                this.$.dialog.showModal();
            },
        });
    </script>
</polymer-element>
