
<link rel="import" href="cr-action.html">
<link rel="import" href="cr-issue-patchfile.html">
<link rel="import" href="cr-toolbar.html">

<polymer-element name="cr-issue-patchset" attributes="patchset">
    <template>
        <link rel="stylesheet" href="common.css">
        <link rel="stylesheet" href="cr-issue-patchset.css">
        <template if="{{ patchset.files.length }}">
            <header>
                <h2>Files</h2>
                <div class="ui-actions">
                    <cr-action on-tap="{{ expandAllDiffs }}">Show Diffs</cr-action> /
                    <cr-action on-tap="{{ collapseAllDiffs }}">Hide Diffs</cr-action>
                </div>
            </header>
        </template>
        <div class="files">
            <template repeat="{{ file in patchset.files }}">
                <cr-issue-patchfile file="{{ file }}" diff="{{ file.diffActive }}"></cr-issue-patchfile>
            </template>
        </div>
        <template if="{{ patchset.tryJobResults.length }}">
            <h2>Try Job Results</h2>
            <div class="try-jobs">
                <template repeat="{{ job in patchset.tryJobResults }}">
                    <a class="try-job {{ job.result }}" href="{{ job.url }}" title="{{ job.result }}" target="_blank">{{ job.builder }}</a>
                </template>
            </div>
        </template>
    </template>
    <script>
        Polymer("cr-issue-patchset", {
            patchset: null,
            expandAllDiffs: function() {
                this.patchset.files.forEach(function(file) {
                    file.diffActive = true;
                });
            },
            collapseAllDiffs: function() {
                this.patchset.files.forEach(function(file) {
                    file.diffActive = false;
                });
            },
        });
    </script>
</polymer-element>
