
<polymer-element name="cr-issue">
    <template>
        <style>
            :host { display: block }

            ul, li {
                list-style-type: none;
                padding: 0;
                margin: 0;
            }

            .issue-subject {
                font-size: 1.5em;
                padding: 0.5em 16px;
            }

            .issue-by {
                font-size: 1.2em;
                padding: 0.5em 16px;
            }

            .issue-description {
                white-space: pre-wrap;
                margin: 0;
                padding: 1em;
            }

            .patchset {
                margin-bottom: 16px;
            }

            .patchset-header {
                font-size: 1.3em;
                padding: 0.5em 16px;
                background-color: #3467B4;
                color: white;
                border-top: 1px solid black;
                display: flex;
            }

            .messages {
                padding: 0.5em 0;
            }

            .message {
                border: 1px solid #ccc;
                margin: 0.5em 16px;
            }

            .message-text {
                padding: 16px;
                white-space: pre-wrap;
            }

            .message-header {
                padding: 0.5em;
                background-color: #F2F2F2;
            }

            .file-header {
                padding: 0.5em 16px;
                display: flex;
                background-color: #CBD3DF;
            }

            .file-name,
            .patchset-title {
                flex: 1;
            }
        </style>
        <template if="{{ issue }}">
            <div class="issue-subject">Issue {{ issue.id }}: {{ issue.subject }}</div>
            <div class="issue-by">By {{ issue.owner.name }} {{ issue.created | formatDate }}</div>
            <div class="issue-description">{{ issue.description }}</div>

            <template if="{{ issue.messages.length }}">
                <ul class="messages">
                    <template repeat="{{ message, i in issue.messages }}">
                        <li class="message">
                            <div class="message-header"><a href="">#{{ i }}</a> {{ message.author.name }} commented {{ message.date | formatDate }}</div>
                            <div class="message-text">{{ message.text }}</div>
                        </li>
                    </template>
                </ul>
            </template>

            <template repeat="{{ patchset, i in issue.patchsets }}">
                <div class="patchset">
                    <div class="patchset-header">
                        <div class="patchset-title">
                            Patch set {{ i + 1 }}
                            <template if="{{ patchset.message }}">
                                {{ patchset.message }}
                            </template>
                        </div>
                        <div class="patchset-date">{{ patchset.created | formatDate }}</div>
                    </div>
                    <ul class="files">
                        <template repeat="{{ file in patchset.files }}">
                            <li class="file">
                                <div class="file-header">
                                    <div class="file-name">{{ file.name }}</div>
                                    <div class="file-delta">+{{ file.added }} lines, -{{ file.removed }} lines</div>
                                </div>
                                <template if="{{ file.messages.length }}">
                                    <ul class="messages">
                                        <template repeat="{{ message in file.messages }}">
                                            <li class="message">
                                                <div class="message-header">{{ message.author.name }} commented {{ message.date | formatDate }} on line {{ message.line }}</div>
                                                <div class="message-text">{{ message.text }}</div>
                                            </li>
                                        </template>
                                    </ul>
                                </template>
                            </li>
                        </template>
                    </ul>
                </div>
            </template>
        </template>
    </template>
    <script>
        Polymer("cr-issue", {
            issue: null,
            attached: function() {
                var self = this;
                var issue = new Issue(180743004);
                issue.loadDetails().then(function() {
                    return Promise.all(issue.patchsets.map(function(patchset) {
                        return patchset.loadDetails();
                    }));
                }).then(function() {
                    self.issue = issue;
                }).catch(function(error) {
                    console.log(error);
                    self.failed = true;
                });
            },
            formatDate: function(date) {
                if (!date)
                    return "";
                return date.relative();
            },
        });
    </script>
</polymer-element>
