
<link rel="import" href="cr-action.html">
<link rel="import" href="cr-button.html">
<link rel="import" href="cr-butterbar.html">
<link rel="import" href="cr-issue-edit-dialog.html">
<link rel="import" href="cr-issue-messages.html">
<link rel="import" href="cr-issue-meta.html">
<link rel="import" href="cr-issue-patchsets.html">
<link rel="import" href="cr-linkified-text.html">
<link rel="import" href="cr-toolbar.html">

<polymer-element name="cr-issue" attributes="issue" on-butterbar-update="{{ updateButterbar }}">
    <template>
        <link rel="stylesheet" href="common.css">
        <link rel="stylesheet" href="cr-issue.css">

        <cr-butterbar message="{{ butterbarMessage }}"></cr-butterbar>

        <h1 class="issue-subject">
            Issue <a href="#/issue/{{ issue.id }}">{{ issue.id }}</a><template if="{{ issue.closed }}"> (Closed)</template>: {{ issue.subject }}
        </h1>

        <div class="issue-body">
            <cr-issue-meta issue="{{ issue }}"></cr-issue-meta>

            <div class="issue-content">
                <cr-toolbar class="issue-toolbar">
                    <template if="{{ !issue.closed }}">
                        <cr-button on-tap="{{ publishDrafts }}" create>Publish</cr-button>
                        <cr-button on-tap="{{ quickLgtm }}">Quick LGTM</cr-button>
                        <cr-button on-tap="{{ quickLgtmAndCommit }}">Quick LGTM + CQ</cr-button>
                        <cr-button on-tap="{{ toggleCommit }}"><template if="{{ issue.commit }}">Cancel</template> Commit</cr-button>
                    </template>
                    <cr-button on-tap="{{ toggleClosed }}">
                        <template if="{{ issue.closed }}">Reopen</template>
                        <template if="{{ !issue.closed }}">Close</template>
                    </cr-button>
                    <div class="ui-actions">
                        <cr-action on-tap="{{ showEditDialog }}">Edit</cr-action>
                    </div>
                </cr-toolbar>

                <div class="issue-description">
                    <cr-linkified-text text="{{ issue.description }}" pre></cr-linkified-text>
                </div>
            </div>
        </div>

        <h2>Patchsets</h2>
        <cr-issue-patchsets patchsets="{{ issue.patchsets }}"></cr-issue-patchsets>

        <header>
            <h2>Messages</h2>
            <div class="ui-actions">
                <cr-action on-tap="{{ expandAllMessages }}">Expand All</cr-action> /
                <cr-action on-tap="{{ collapseAllMessages }}">Collapse All</cr-action>
            </div>
        </header>

        <cr-issue-messages messages="{{ issue.messages }}" id="messages" on-message-save="{{ saveMessage }}"></cr-issue-messages>

        <cr-issue-edit-dialog id="editor" issue="{{ issue }}"></cr-issue-edit-dialog>
    </template>
    <script>
        Polymer("cr-issue", {
            issue: null,
            butterbarMessage: "",
            updateButterbar: function(event) {
                this.butterbarMessage = event.detail.message;
            },
            toggleCommit: function() {
                var self = this;
                this.butterbarMessage = "Saving...";
                this.issue.setCommit(!this.issue.commit).then(function() {
                    self.butterbarMessage = "";
                    self.fire("issue-refresh");
                }).catch(function(e) {
                    self.butterbarMessage = "";
                    console.log(e);
                });
            },
            toggleClosed: function() {
                var self = this;
                this.butterbarMessage = "Saving...";
                this.issue.toggleClosed().then(function() {
                    self.butterbarMessage = "";
                    self.fire("issue-refresh");
                }).catch(function(e) {
                    self.butterbarMessage = "";
                    console.log(e);
                });
            },
            showEditDialog: function() {
                this.$.editor.showModal();
            },
            collapseAllMessages: function() {
                this.$.messages.toggleAll({active: false});
            },
            expandAllMessages: function() {
                this.$.messages.toggleAll({active: true});
                this.async(function() {
                    this.$.messages.scrollIntoViewIfNeeded();
                }, null, 350);
            },
            saveMessage: function(event) {
                this.butterbarMessage = "Saving...";
                if (event.detail.messageText)
                    this.publish({message: event.detail.messageText});
            },
            quickLgtm: function(options) {
                this.publish({lgtm: true});
            },
            quickLgtmAndCommit: function(options) {
                this.publish({
                    lgtm: true,
                    commit: true,
                });
            },
            publishDrafts: function() {
                this.publish({
                    addAsReviewer: true,
                    publishDrafts: true,
                });
            },
            publish: function(options) {
                var self = this;
                this.issue.publish(options).then(function() {
                    self.butterbarMessage = "";
                    self.fire("issue-refresh");
                }).catch(function(e) {
                    self.butterbarMessage = "";
                    console.log(e);
                    // FIXME: We should show an error message.
                });
            },
        });
    </script>
</polymer-element>
