:host { display: block; }

h2 {
    font-size: 1em;
    margin-top: 0;
    padding-top: 0;
    -webkit-user-select: none;
    cursor: default;
}

header {
    padding-top: 0.5em;
    display: flex;
}

header h2 {
    flex: 1;
}

header .ui-actions {
    padding: 0 16px;
    flex-shrink: 0;
}

#files {
    overflow-x: auto;
}

#try-job-results cr-action {
    margin: 0 16px 0.5em 16px;
    display: inline-block;
}
