
<link rel="import" href="cr-action.html">
<link rel="import" href="cr-issue-patchfile.html">
<link rel="import" href="cr-toolbar.html">
<link rel="import" href="cr-try-results.html">

<polymer-element name="cr-issue-patchset" attributes="patchset">
    <template>
        <link rel="stylesheet" href="common.css">
        <link rel="stylesheet" href="cr-issue-patchset.css">
        <template if="{{ patchset.sourceFiles.length }}">
            <header>
                <h2>Files</h2>
                <div class="ui-actions">
                    <cr-action on-tap="{{ expandAllDiffs }}">Show diffs</cr-action> /
                    <cr-action on-tap="{{ collapseAllDiffs }}">Hide diffs</cr-action> /
                    <a href="/download/issue{{ patchset.issue.id }}_{{ patchset.id }}.diff" target="_blank">Raw diff</a>
                </div>
            </header>
            <div class="files">
                <template repeat="{{ file in patchset.sourceFiles }}">
                    <cr-issue-patchfile file="{{ file }}"></cr-issue-patchfile>
                </template>
            </div>
        </template>
        <template if="{{ patchset.testFiles.length }}">
            <header>
                <h2>LayoutTests</h2>
                <template if="{{ !patchset.sourceFiles.length }}">
                    <div class="ui-actions">
                        <cr-action on-tap="{{ expandAllDiffs }}">Show diffs</cr-action> /
                        <cr-action on-tap="{{ collapseAllDiffs }}">Hide diffs</cr-action> /
                        <a href="/download/issue{{ patchset.issue.id }}_{{ patchset.id }}.diff" target="_blank">Raw diff</a>
                    </div>
                </template>
            </header>
            <div class="files">
                <template repeat="{{ file in patchset.testFiles }}">
                    <cr-issue-patchfile file="{{ file }}"></cr-issue-patchfile>
                </template>
            </div>
        </template>
        <div id="try-job-results">
            <template if="{{ patchset.tryJobResults.length && (patchset.mostRecent || !patchset.commit) }}">
                <h2>Try job results</h2>
                <cr-try-results results="{{ patchset.tryJobResults }}"></cr-try-results>
                <template if="{{ patchset.mostRecent && !patchset.issue.closed }}">
                    <cr-action on-tap="{{ handleAddMore }}">Add more</cr-action>
                </template>
            </template>
        </div>
    </template>
    <script>
        Polymer("cr-issue-patchset", {
            patchset: null,
            getFiles: function() {
                // FIXME: Use an id instead.
                return this.shadowRoot.querySelectorAll("cr-issue-patchfile").array();
            },
            expandAllDiffs: function() {
                return Promise.all(this.getFiles().map(function(file) {
                    return file.showDiff();
                }));
            },
            collapseAllDiffs: function() {
                return Promise.all(this.getFiles().map(function(file) {
                    return file.hideDiff();
                }));
            },
            handleAddMore: function() {
                this.fire("show-try-dialog");
            },
        });
    </script>
</polymer-element>
