:host { display: block; }

h1, h2 {
    margin: 0;
    padding: 0.5em 16px;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.3em;
}

.issue-subject {
    padding: 0.5em 16px;
}

.issue-description {
    margin: 1em 16px;
    white-space: pre-wrap;
    font-family: Monaco, monospace;
    flex: 1;
}

.issue-details {
    display: flex;
}

.issue-sidebar {
    order: 2;
    flex-shrink: 0;
    max-width: 25em;
    padding: 1em 16px;
}

.issue-toolbar {
    padding: 0.5em 0;
    display: flex;
}

.issue-toolbar .issue-action-lgtm {
    margin-right: 16px;
}

cr-issue-patchsets,
cr-issue-messages {
    padding: 0.5em 16px;
}
