
<link rel="import" href="../../bower_components/polymer-ui-collapsible/polymer-ui-collapsible.html">

<link rel="import" href="cr-hash-observer.html">
<link rel="import" href="cr-issue-message-reply.html">
<link rel="import" href="cr-linkified-text.html">
<link rel="import" href="cr-view-handler.html">

<polymer-element name="cr-issue-messages" attributes="messages selectionId activeId">
    <template>
        <cr-view-handler></cr-view-handler>
        <cr-hash-observer on-hash-changed="{{ hashChanged }}"></cr-hash-observer>

        <link rel="stylesheet" href="cr-issue-messages.css">

        <template if="{{ visibleMessages.length != messages.length }}">
            <cr-toolbar>
                <cr-action on-tap="{{ handleShowOlderMessages }}">
                    Show {{ messages.length - visibleMessages.length }} older
                    {{ "message" | pluralize(messages.length - visibleMessages.length) }}
                </cr-action>
            </cr-toolbar>
        </template>

        <template repeat="{{ message in visibleMessages }}">
            <polymer-ui-collapsible class="message {{ {approval: message.approval, disapproval: message.disapproval, selected: message.sequence == selectionId } | tokenList }}" active?="{{ message.sequence == activeId }}">
                <div id="message-{{ message.sequence }}" class="message-header polymer-ui-collapsible-header" on-tap="{{ handleHeaderTap }}">
                    <div class="message-title">
                        <div class="message-author">{{ message.author.displayName }}</div>
                        <div class="message-preview">{{ message.text | messagePreview }}</div>
                    </div>
                    <div class="message-date">
                        {{ message.date | formatDate }}
                    </div>
                    <a class="message-number" href="#msg{{ message.sequence }}">#{{ message.sequence }}</a>
                </div>
                <div class="message-text">
                    <cr-linkified-text text="{{ message.text }}" pre></cr-linkified-text>
                </div>
                <cr-issue-message-reply message="{{ message }}"></cr-issue-message-reply>
            </polymer-ui-collapsible>
        </template>
    </template>
    <script>
    (function() {
        var REPLY_HEADER = /^On \d+\/\d+\/\d+ (at )?\d+:\d+:\d+, .*? wrote:$/;
        var FILE_HEADER = /^https:\/\/codereview.chromium.org\/\d+\/diff\/\d+\/.*$/;
        var MAX_PREVIEW_LENGTH = 300;
        var SELECTION_PREFIX = "#msg";
        var MAX_MESSAGES = 5;

        Polymer("cr-issue-messages", {
            messages: null,
            visibleMessages: null,
            selectionId: null,
            activeId: null,
            messagesChanged: function() {
                this.activeId = this.messages.length;
                this.hashChanged();
            },
            hashChanged: function() {
                if (!window.location.hash.startsWith(SELECTION_PREFIX))
                    return;
                var num = window.location.hash.replace(SELECTION_PREFIX, "");
                if (/^[0-9]+$/.test(num) && num > 0 && num <= this.messages.length) {
                    this.selectionId = num;
                    console.log(num);
                    this.activeId = num;
                    this.async(function() {
                        var message = this.shadowRoot.getElementById("message-" + this.selectionId);
                        if (message)
                            this.scrollMessageToVisibleIfNeeded(message);
                    });
                }
            },
            activeIdChanged: function() {
                this.visibleMessages = this.messages.from(Math.max(this.activeId - MAX_MESSAGES, 0));
            },
            handleShowOlderMessages: function() {
                this.visibleMessages = this.messages;
            },
            toggleAll: function(options) {
                var messages = this.shadowRoot.querySelectorAll(".message").array();
                messages.forEach(function(message) {
                    message.active = options.active;
                });
            },
            pluralize: function(text, count) {
                if (!count)
                    return "";
                if (count == 1)
                    return text;
                return text.pluralize();
            },
            formatDate: function(date) {
                if (!date)
                    return "";
                return date.relative();
            },
            handleHeaderTap: function(event) {
                this.scrollMessageToVisibleIfNeeded(event.currentTarget.parentNode);
            },
            scrollMessageToVisibleIfNeeded: function(message) {
                // If you click the header then scroll the message until you can read it. This is
                // racy with the <polymer-ui-collapsible> animation but it's the best we have
                // until polymer exposes some events. We could listen for on-transitionend but
                // then expand/collapse all would make us do this for each item.
                this.async(function() {
                    message.scrollIntoViewIfNeeded();
                }, null, 350);
            },
            messagePreview: function(text) {
                var lines = text.split("\n");
                var i = 0;

                while (i < text.length) {
                    if (lines[i] === "") {
                        ++i;
                    } if (REPLY_HEADER.test(lines[i])) {
                        ++i;
                    } else if (FILE_HEADER.test(lines[i])) {
                        i += 5;
                    } else if (lines[i] && lines[i].startsWith(">")) {
                        ++i;
                    } else {
                        break;
                    }
                }

                // If we hit the end then it's not clear what's in this reply so
                // just show it all.
                if (i >= text.length)
                    return text;

                return lines
                    .slice(i)
                    .join("\n")
                    .substr(0, MAX_PREVIEW_LENGTH);
            }
        });
    })();
    </script>
</polymer-element>
