:host { display: block; }

.patchset {
    border-color: #ccc;
    border-width: 1px 1px 0 1px;
    border-style: solid;
}

.patchset:last-child {
    border-width: 1px;
}

.patchset-header {
    background: #F6F6F6;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    padding: 0.5em 16px;
    position: relative;
}

.patchset:not([active]) .patchset-header:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.patchset-title {
    flex: 1;
    font-weight: bold;
}

.file {
    padding: 0.25em 16px;
    display: table-row;
}

.files {
    display: table;
    margin: 0.5em 8px 0.5em 8px;
}

.file-name {
    padding: 0.25em 8px;
    display: table-cell;
    width: 100%;
}

.file-messages,
.file-status,
.file-added,
.file-removed {
    display: table-cell;
    padding: 0.25em 8px;
    white-space: nowrap;
}

.file-added {
    color: #8fdf5f;
}

.file-removed {
    color: #E75D54;
}

.polymer-ui-collapsible-header {
    cursor: default;
    -webkit-user-select: none;
}
