
<link rel="import" href="cr-issue-messages.html">
<link rel="import" href="cr-issue-meta.html">
<link rel="import" href="cr-issue-patchsets.html">

<polymer-element name="cr-issue" attributes="issue">
    <template>
        <style>
            :host { display: block; }

            h1, h2 {
                margin: 0;
                padding: 0.5em 16px;
            }

            h1 {
                font-size: 1.5em;
            }

            h2 {
                font-size: 1.3em;
            }

            a:link {
                color: #284D8C;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            .issue-subject {
                padding: 0.5em 16px;
            }

            .issue-description {
                margin: 1em 16px;
                white-space: pre-wrap;
                flex: 1;
            }

            .issue-details {
                display: flex;
            }

            cr-issue-meta {
                order: 2;
                flex-shrink: 0;
                max-width: 25em;
            }

            cr-issue-patchsets,
            cr-issue-messages {
                padding: 0.5em 16px;
            }
        </style>
        <template if="{{ issue }}">
            <h1 class="issue-subject">
                Issue <a href="#/issue/{{ issue.id }}">{{ issue.id }}</a>: {{ issue.subject }} <template if="{{ issue.closed }}">(Closed)</template>
            </h1>

            <div class="issue-details">
                <cr-issue-meta issue="{{ issue }}"></cr-issue-meta>
                <div class="issue-description">{{ issue.description }}</div>
            </div>

            <h2>Patchsets</h2>
            <cr-issue-patchsets patchsets="{{ issue.patchsets }}"></cr-issue-patchsets>

            <h2>Messages</h2>
            <cr-issue-messages messages="{{ issue.messages }}"></cr-issue-messages>
        </template>
    </template>
    <script>
        Polymer("cr-issue", {
            issue: null,
            formatDate: function(date) {
                if (!date)
                    return "";
                return date.format("{Mon} {ord} {yyyy} {hh}:{mm}{tt}");
            },
        });
    </script>
</polymer-element>
