
<polymer-element name="cr-issue-patchsets" attributes="patchsets">
    <template>
        <style>
            :host { display: block; }

            a:link {
                color: #284D8C;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            .patchset {
                border-color: #375B9C;
                border-width: 1px 1px 0 1px;
                border-style: solid;
            }

            .patchset:last-child {
                border-width: 1px;
            }

            .patchset-header {
                padding: 0.5em 16px;
                display: flex;
                font-weight: bold;
                background-color: #DFE7F8;
                border-bottom: 1px solid #ccc;
            }

            .patchset-title {
                flex: 1;
            }

            .file {
                padding: 0.25em 16px;
                display: table-row;
            }

            .files {
                display: table;
                margin: 0.5em 8px 0.5em 8px;
            }

            .file-name {
                padding: 0.25em 8px;
                display: table-cell;
                width: 100%;
            }

            .file-messages,
            .file-status,
            .file-added,
            .file-removed {
                display: table-cell;
                padding: 0.25em 8px;
                white-space: nowrap;
            }

            .file-added {
                color: #9FB32F;
            }

            .file-removed {
                color: #DA5545;
            }

            .polymer-ui-collapsible-header {
                cursor: pointer;
                -webkit-user-select: none;
            }
        </style>
        <template if="{{ patchsets }}">           
            <polymer-ui-accordion multi selected="{{ [ patchsets.length - 1 ] }}">
                <template repeat="{{ patchset, i in patchsets }}">
                    <polymer-ui-collapsible class="patchset">
                        <div class="patchset-header polymer-ui-collapsible-header">
                            <div class="patchset-title">
                                Patch set {{ i + 1 }}<template if="{{ patchset.message }}">: {{ patchset.message }}</template>
                            </div>
                            <div class="patchset-date">{{ patchset.created | formatDate }}</div>
                        </div>
                        <div class="files">
                            <template repeat="{{ file in patchset.files }}">
                                <div class="file">
                                    <div class="file-status">{{ file.status }}</div>
                                    <div class="file-removed">-{{ file.removed }}</div>
                                    <div class="file-added">+{{ file.added }}</div>
                                    <a class="file-name" href="#/issue/{{ patchset.issue.id }}/{{ patchset.id }}/{{ file.name }}">{{ file.name }}</a>
                                    <div class="file-messages">{{ file.messages.length | commentCount }}</div>
                                </div>
                            </template>
                        </div>
                    </polymer-ui-collapsible>
            </template>
        </template>
    </template>
    <script>
        Polymer("cr-issue-patchsets", {
            patchsets: null,
            formatDate: function(date) {
                return date.relative();
            },
            commentCount: function(messageCount) {
                if (!messageCount)
                    return "";
                if (messageCount == 1)
                    return messageCount + " comment";
                return messageCount + " comments";
            },
        });
    </script>
</polymer-element>
