
<link rel="import" href="cr-user-autocomplete.html">

<polymer-element name="cr-issue-editor" attributes="issue errors disabled fields">
    <template>
        <link rel="stylesheet" href="common.css">
        <link rel="stylesheet" href="forms.css">

        <fieldset class="form-fields" disabled?="{{ disabled }}">
            <template if="{{ fields | contains('subject') }}">
                <div class="form-row">
                    <label class="form-label" for="subject">Title</label>
                    <div class="form-field">
                        <input type="text" id="subject" value="{{ subject }}" autocomplete="off" class="{{ {invalid: errors.subject} | tokenList }}">
                        <div class="form-error">{{ errors.subject }}</div>
                    </div>
                </div>
            </template>

            <template if="{{ fields | contains('reviewers') }}">
                <div class="form-row">
                    <label class="form-label" for="reviewers">Reviewers</label>
                    <div class="form-field">
                        <cr-user-autocomplete id="reviewerAutocomplete" value="{{ reviewers }}">
                            <input type="text" id="reviewers" value="{{ reviewers }}" autocomplete="off" class="{{ {invalid: errors.reviewers} | tokenList }}">
                        </cr-user-autocomplete>
                        <div class="form-error">{{ errors.reviewers }}</div>
                    </div>
                </div>
            </template>

            <template if="{{ fields | contains('cc') }}">
                <div class="form-row">
                    <label class="form-label" for="cc">CC</label>
                    <div class="form-field">
                        <cr-user-autocomplete id="ccAutocomplete" value="{{ cc }}">
                            <input type="text" id="cc" value="{{ cc }}" autocomplete="off" class="{{ {invalid: errors.cc} | tokenList }}">
                        </cr-user-autocomplete>
                        <div class="form-error">{{ errors.cc }}</div>
                    </div>
                </div>
            </template>

            <template if="{{ fields | contains('description') }}">
                <div class="form-row">
                    <label class="form-label form-label-textarea" for="description">Description</label>
                    <div class="form-field">
                        <textarea id="description" value="{{ description }}" rows="15" class="{{ {invalid: errors.description} | tokenList }}"></textarea>
                        <div class="form-error">{{ errors.description }}</div>
                    </div>
                </div>
            </template>

            <template if="{{ fields | contains('private') }}">
                <div class="form-row">
                    <label class="form-label" for="private">Private</label>
                    <div class="form-field">
                        <input id="private" type="checkbox" checked="{{ private }}">
                        <div class="form-error">{{ errors.private }}</div>
                    </div>
                </div>
            </template>
        </fieldset>
    </template>
    <script>
        Polymer("cr-issue-editor", {
            issue: null,
            subject: "",
            reviewers: "",
            cc: "",
            description: "",
            errors: null,
            disabled: false,
            private: false,
            fields: "subject description reviewers cc private",
            reset: function() {
                this.disabled = false;
                if (!this.issue)
                    return;
                this.subject = this.issue.subject;
                this.description = this.issue.description;
                this.reviewers = this.issue.reviewerEmails();
                this.cc = this.issue.ccEmails();
                this.private = this.issue.private;
            },
            dismissAutocomplete: function() {
                if (this.$.reviewerAutocomplete.active || this.$.ccAutocomplete.active) {
                    this.$.reviewerAutocomplete.resetAutocomplete();
                    this.$.ccAutocomplete.resetAutocomplete();
                    return true;
                }
                return false;
            },
            createEditData: function() {
                var data = {
                    subject: this.subject,
                    reviewers: this.reviewers,
                    cc: this.cc,
                    description: this.description,
                    closed: this.issue.closed,
                    private: this.private,
                };
                return data;
            },
            contains: function(list, value) {
                return list && list.indexOf(value) != -1;
            },
        });
    </script>
</polymer-element>
