
<polymer-element name="cr-issue-datasource" attributes="issue issueId">
    <template></template>
    <script>
        Polymer("cr-issue-datasource", {
            created: function() {
                this.issueId = "";
                this.issue = null;
            },
            issueIdChanged: function() {
                this.issue = new Issue(this.issueId);
                this.sync();
            },
            sync: function() {
                var self = this;
                var issue = this.issue;
                issue.loadDetails().then(function() {
                    if (self.issue == issue)
                        self.fire("change");
                }).catch(function(e) {
                    if (self.issue == issue)
                        self.fire("error", e);
                });
            },
        });
    </script>
</ploymer-element>
