:host { display: block; }

h2 {
    -webkit-user-select: none;
    cursor: default;
}

.issue-subject {
    padding: 0.5em 16px;
}

.issue-description {
    margin: 1em 16px;
}

.issue-content {
    flex: 1;
}

.issue-body {
    display: flex;
}

.issue-toolbar {
    margin: 0 16px;
    border-bottom: 1px #e5e5e5 solid;
    padding: 1em 0;
}

.issue-toolbar button {
    margin-right: 16px;
}

cr-issue-patchsets,
cr-issue-messages {
    padding: 0.5em 16px;
}

cr-issue-meta {
    flex-shrink: 0;
    width: 300px;
    padding: 1em 16px;
}
