
<link rel="import" href="cr-user-autocomplete.html">
<link rel="import" href="cr-butterbar.html">
<link rel="import" href="cr-button.html">
<link rel="import" href="cr-toolbar.html">

<polymer-element name="cr-issue-edit-dialog" attributes="issue">
    <template>
        <link rel="stylesheet" href="common.css">
        <style>
            #dialog {
                max-width: 800px;
                padding: 0;
                border: 1px solid #ccc;
                box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
                top: 100px;
                color: #222;
            }

            h1 {
                -webkit-user-select: none;
                cursor: default;
            }

            .issue-edit-fields {
                display: table;
                width: 100%;
            }

            .issue-edit-row {
                display: table-row;
            }

            .issue-edit-label {
                font-weight: bold;
                color: #959595;
                -webkit-user-select: none;
                cursor: default;
            }

            .issue-edit-field {
                width: 100%;
                position: relative;
            }

            .issue-edit-label,
            .issue-edit-field {
                display: table-cell;
                padding: 1em 16px;
                vertical-align: top;
            }

            .issue-edit-error {
                display: block;
                color: #DD4B39;
                font-weight: bold;
                padding-top: 0.5em;
            }

        </style>

        <dialog id="dialog" on-cancel="{{ cancel }}">
            <cr-butterbar message="{{ butterbarMessage }}"></cr-butterbar>

            <h1>Edit Issue</h1>

            <fieldset class="issue-edit-fields" disabled?="{{ saving }}">
                <div class="issue-edit-row">
                    <label class="issue-edit-label" for="subject">Title</label>
                    <div class="issue-edit-field">
                        <input type="text" id="subject" value="{{ subject }}" autocomplete="off" class="{{ {invalid: errors.subject} | tokenList }}">
                        <div class="issue-edit-error">{{ errors.subject }}</div>
                    </div>
                </div>

                <div class="issue-edit-row">
                    <label class="issue-edit-label" for="reviewers">Reviewers</label>
                    <div class="issue-edit-field">
                        <cr-user-autocomplete id="reviewerAutocomplete" value="{{ reviewers }}">
                            <input type="text" id="reviewers" value="{{ reviewers }}" autocomplete="off" class="{{ {invalid: errors.reviewers} | tokenList }}">
                        </cr-user-autocomplete>
                        <div class="issue-edit-error">{{ errors.reviewers }}</div>
                    </div>
                </div>

                <div class="issue-edit-row">
                    <label class="issue-edit-label" for="cc">CC</label>
                    <div class="issue-edit-field">
                        <cr-user-autocomplete id="ccAutocomplete" value="{{ cc }}">
                            <input type="text" id="cc" value="{{ cc }}" autocomplete="off" class="{{ {invalid: errors.cc} | tokenList }}">
                        </cr-user-autocomplete>
                        <div class="issue-edit-error">{{ errors.cc }}</div>
                    </div>
                </div>

                <div class="issue-edit-row">
                    <label class="issue-edit-label" for="description">Description</label>
                    <div class="issue-edit-field">
                        <textarea id="description" value="{{ description }}" rows="20" class="{{ {invalid: errors.description} | tokenList }}"></textarea>
                        <div class="issue-edit-error">{{ errors.description }}</div>
                    </div>
                </div>
            </fieldset>

            <cr-toolbar>
                <cr-button primary on-tap="{{ save }}">Save</cr-button>
                <cr-button on-tap="{{ cancel }}">Cancel</cr-button>
            </cr-toolbar>
        </dialog>
    </template>
    <script>
        Polymer("cr-issue-edit-dialog", {
            issue: null,
            subject: "",
            reviewers: "",
            cc: "",
            description: "",
            errors: null,
            butterbarMessage: "",
            saving: false,
            cancel: function(event) {
                if (this.$.reviewerAutocomplete.active || this.$.ccAutocomplete.active) {
                    event.preventDefault();
                    this.$.reviewerAutocomplete.resetAutocomplete();
                    this.$.ccAutocomplete.resetAutocomplete();
                    return;
                }
                this.close();
            },
            reset: function() {
                this.saving = false;
                this.butterbarMessage = "";
                this.errors = {};
            },
            close: function() {
                this.reset();
                this.$.dialog.close();
            },
            save: function() {
                var data = {
                    subject: this.subject,
                    reviewers: this.reviewers,
                    cc: this.cc,
                    description: this.description,
                    closed: this.issue.closed,
                };
                this.saving = true;
                this.butterbarMessage = "Saving...";
                this.issue.edit(data)
                    .then(this.saveSuccess.bind(this))
                    .catch(this.saveFailure.bind(this));
            },
            saveSuccess: function() {
                this.fire("issue-refresh");
                this.close();
            },
            saveFailure: function(error) {
                this.reset();
                if (!error.fieldName) {
                    // FIXME: Show a better error message, deal with network errors.
                    return;
                }
                this.errors[error.fieldName] = error.message;
            },
            showModal: function() {
                if (!this.issue)
                    return;
                this.subject = this.issue.subject;
                this.description = this.issue.description;
                this.reviewers = this.issue.reviewerEmails();
                this.cc = this.issue.ccEmails();
                this.$.dialog.showModal();
            },
        });
    </script>
</polymer-element>
