
<link rel="import" href="cr-view-handler.html">

<polymer-element name="cr-issue-meta" attributes="issue">
    <template>
        <cr-view-handler></cr-view-handler>
        <link rel="stylesheet" href="common.css">
        <style>
            :host {
                display: table;
            }

            .issue-meta-item {
                display: table-row;
            }

            .issue-meta-type,
            .issue-meta-value {
                padding: 0.5em 16px;
                display: table-cell;
            }

            .issue-base-url {
                word-break: break-word;
            }

            .issue-meta-type {
                color: #959595;
                font-weight: bold;
                -webkit-user-select: none;
                cursor: default;
            }

            a.approval {
                color: #009933;
            }

            a.disapproval {
                color: #DD4B39;
            }
        </style>
        <template if="{{ issue }}">
            <div class="issue-author issue-meta-item">
                <div class="issue-meta-type">Owner</div>
                <div class="issue-meta-value"><a href="/user/{{ issue.owner.email }}">{{ issue.owner.displayName }}</a></div>
            </div>
            <div class="issue-created issue-meta-item">
                <div class="issue-meta-type">Created</div>
                <div class="issue-meta-value">{{ issue.created | formatDate }}</div>
            </div>
            <div class="issue-modified issue-meta-item">
                <div class="issue-meta-type">Modified</div>
                <div class="issue-meta-value">{{ issue.lastModified | formatDate }}</div>
            </div>
            <div class="issue-modified issue-meta-item">
                <div class="issue-meta-type">CQ</div>
                <div class="issue-meta-value">
                    <template if="{{ issue.commit }}">
                        <a href="https://chromium-status.appspot.com/cq/{{ issue.author.email }}" target="_blank">Yes</a>
                    </template>
                    <template if="{{ !issue.commit }}">
                        No
                    </template>
                </div>
            </div>
            <div class="issue-reviewers issue-meta-item">
                <div class="issue-meta-type">Reviewers</div>
                <div class="issue-meta-value">
                    <template repeat="{{ user, i in issue.reviewers }}">
                        <a class="issue-reviewer {{ {approval: issue.scores[user.email] == 1, disapproval: issue.scores[user.email] == -1} | tokenList }}" href="/user/{{ user.email }}">{{ user.displayName }}</a>
                    </template>
                </div>
            </div>
            <div class="issue-cc issue-meta-item">
                <div class="issue-meta-type">CC</div>
                <div class="issue-meta-value">
                    <template repeat="{{ user, i in issue.cc }}">
                        <a class="issue-cced" href="/user/{{ user.email }}">{{ user.displayName }}</a>
                    </template>
                </div>
            </div>
            <template if="{{ issue.project }}">
                <div class="issue-base-url issue-meta-item">
                    <div class="issue-meta-type">Project</div>
                    <div class="issue-meta-value" title="{{ issue.baseUrl }}">
                        {{ issue.project }}
                    </div>
                </div>
            </template>
            <template if="{{ issue.private }}">
                <div class="issue-private issue-meta-item">
                    <div class="issue-meta-type">Private</div>
                    <div class="issue-meta-value">Yes</div>
                </div>
            </template>
        </template>
    </template>
    <script>
        Polymer("cr-issue-meta", {
            issue: null,
            formatDate: function(date) {
                return date.format("{Mon} {ord} {yyyy} {h}:{mm}{tt}");
            },
        });
    </script>
</polymer-element>
