<!--
    Use to add keyboard shortcuts to your components. The last inserted component
    will always receive the events (and others will not). This prevents the
    common bug where you have two listeners and multiple actions are taken for
    the same keyboard shortcut.

    <cr-keyboard
        on-key-j="{{ forward }}"
        on-key-k="{{ backwards }}"
        on-key-delete="{{ remove }}"></sd-keyboard>

    or

    keyboard.addEventListener("key-left", previousSlide);
    keyboard.addEventListener("key-right", nextSlide);
-->
<polymer-element name="cr-keyboard">
    <template>
        <style>
            :host { display: none; }
        </style>
    </template>
    <script>
    (function() {
        var instances = [];

        Polymer("cr-keyboard", {
            attached: function() {
                instances.unshift(this);
            },
            detached: function() {
                var i = instances.indexOf(this);
                if (i >= 0) {
                    instances.splice(i, 1);
                }
            },
            handleKeyEvent: function(key, event) {
                return this.hasAttribute("on-key-" + key)
                    && this.fire("key-" + key, event).defaultPrevented;
            }
        });

        var KEY_MAP = {
            8: "delete",
            9: "tab",
            20: "space",
            27: "escape",
            "!": "exclamation",
            "@": "at",
            "#": "pound",
            "$": "dollar",
            "%": "percent",
            "^": "caret",
            "&": "amp",
            "*": "asterisk",
            "(": "open-paren",
            ")": "close-paren",
            "-": "dash",
            "_": "underscore",
            "+": "plus",
            "=": "equals",
            "{": "open-brace",
            "}": "close-brace",
            "[": "open-bracket",
            "]": "close-bracket",
            "|": "pipe",
            "\\": "backslash",
            "\"": "double-quote",
            "'": "single-quote",
            ";": "semi-colon",
            ":": "colon",
            "?": "question-mark",
            "/": "forward-slash",
            ">": "greater-than",
            ".": "period",
            "<": "less-than",
            "`": "backtick",
            "~": "tilde",
        };

        function convertKey(event) {
            var key = event.keyIdentifier || event.key;
            if (key.indexOf("U+") != -1) {
                var code = parseInt(key.replace("U+", "0x"));
                return KEY_MAP[code] || KEY_MAP[String.fromCharCode(code)];
            }
            if (KEY_MAP[key])
                return KEY_MAP[key];
            return key.toLowerCase();
        }

        function handleKeyDown(event) {
            var key = convertKey(event);
            if (!key)
                return;
            for (var i = 0; i < instances.length; ++i) {
                if (instances[i].handleKeyEvent(key, event)) {
                    event.preventDefault();
                    return false;
                }
            }
        }

        window.addEventListener("keydown", handleKeyDown);
    })();
    </script>
</polymer-element>
