<!--
    Add to views to make them aware of login state. Add the redirect attribute
    to force a redirect to login if there's no current user.

    ex.

    <cr-login-handler
        on-user-loaded="{{ loadData }}"
        redirect></cr-login-handler>
-->
<polymer-element name="cr-login-handler" attributes="redirect">
    <template>
        <style>
            :host { display: none; }
        </style>
    </template>
    <script>
        Polymer("cr-login-handler", {
            redirect: false,
            attached: function() {
                var self = this;
                this.loadCurrentUser().then(function() {
                    self.fire("user-loaded", User.current, null, false);
                }).catch(function(e) {
                    self.fire("user-failed", e, null, false);
                    if (self.redirect)
                        self.loginRedirect();
                });
            },
            loadCurrentUser: function() {
                if (User.current)
                    return Promise.resolve(User.current);
                return User.loadCurrentUser();
            },
            loginRedirect: function() {
                var REDIRECT_URL = "https://www.google.com/accounts/ServiceLogin?service=ah&passive=true&continue=https://appengine.google.com/_ah/conflogin%3Fcontinue%3D{1}&ltmpl=gm";
                var redirect = window.location.pathname + window.location.search + window.location.hash;
                var url = window.location.protocol
                    + "//"
                    + window.location.hostname
                    + window.location.port
                    + "/static/app"
                    + redirect;
                window.location.href = REDIRECT_URL.assign(encodeURIComponent(url));
            },
        });
    </script>
</polymer-element>
