
<script src="../lib/ba-linkify.js"></script>
<script src="../link_text_parser.js"></script>

<polymer-element name="cr-linkified-text" attributes="text">
    <template><link rel="stylesheet" href="common.css"><style>
        :host([pre]) {
            white-space: pre-wrap;
            font-family: Monaco, monospace;
        }
    </style><div id="text"></div></template>
    <script>
    Polymer("cr-linkified-text", {
        text: "",
        textChanged: function(oldValue, newValue) {
            var self = this;
            var root = this.shadowRoot.getElementById("text");

            while (root.firstChild)
                root.firstChild.remove();

            if (!newValue)
                return;

            var parser = new LinkTextParser(function(text, href) {
                if (href)
                    root.appendChild(createAnchor(href, text));
                else
                    root.appendChild(document.createTextNode(text));
            });
            parser.parse(newValue);
        },
    });
  </script>
</polymer-element>
