
<link rel="import" href="cr-action.html">
<link rel="import" href="cr-button.html">
<link rel="import" href="cr-linkified-text.html">
<link rel="import" href="cr-toolbar.html">

<polymer-element name="cr-patch-file-message" attributes="message expanded">
    <template>
        <link rel="stylesheet" href="common.css">
        <style>
            :host {
                display: block;
            }

            .message-edit {
                margin: 0.5em 16px 0 16px;
            }

            .message-text {
                padding: 0.5em 16px 0 16px;
            }

            .message-header {
                padding: 0.5em 16px;
                display: flex;
            }

            .message-title {
                flex: 1;
                display: flex;
            }

            .message-author {
                flex-shrink: 0;
                font-weight: bold;
            }
        </style>

        <div class="message-header">
            <div class="message-title">
                <div class="message-author">
                    <template if="{{ message.draft }}">
                        (Draft)
                    </template>
                    {{ message.author.displayName }}
                </div>
            </div>
            <div class="message-date">
                {{ message.date | formatDate }}
            </div>
        </div>
        <template if="{{ !expanded }}">
            <div class="message-text">
                <cr-linkified-text text="{{ message.text }}" pre></cr-linkified-text>
            </div>
        </template>
        <template if="{{ message.draft }}">
            <template if="{{ !expanded }}">
                <cr-toolbar>
                    <cr-action on-tap="{{ expand }}">Edit</cr-action>
                </cr-toolbar>
            </template>
            <template if="{{ expanded }}">
                <div class="message-edit">
                    <textarea id="textarea" rows="10" value="{{ text }}"></textarea>
                </div>
                <cr-toolbar>
                    <cr-button primary on-tap="{{ save }}">Save</cr-button>
                    <cr-button on-tap="{{ cancel }}">Cancel</cr-button>
                    <template if="{{ message.date }}">
                        <cr-button on-tap="{{ discard }}">Discard</cr-button>
                    </template>
                </cr-toolbar>
            </template>
        </template>
    </template>
    <script>
        Polymer("cr-patch-file-message", {
            message: null,
            expanded: false,
            text: "",
            expand: function() {
                this.text = this.message.text;
                this.expanded = true;
            },
            expandedChanged: function() {
                this.async(this.showInput);
            },
            showInput: function() {
                if (!this.expanded)
                    return;
                this.scrollIntoViewIfNeeded();
                var textarea = this.shadowRoot.getElementById("textarea");
                textarea.focus();
            },
            save: function() {
                this.fire("file-message-save", {
                    text: this.text,
                    message: this.message,
                });
            },
            cancel: function() {
                this.text = "";
                this.expanded = "";
                // FIXME: This is a terrible hack, we probably want to dispatch an event
                // and let the owner remove us.
                if (!this.message.date)
                    this.remove();
            },
            discard: function() {
                this.fire("file-message-discard", {
                    message: this.message,
                });
            },
            formatDate: function(date) {
                if (!date)
                    return "";
                return date.relative();
            },
        });
    </script>
</polymer-element>
