
<polymer-element name="cr-route" attributes="path element">
    <template>
        :host { display: none; }
    </template>
    <script>
        Polymer("cr-route", {
            element: "",
            parts: null,
            regex: null,
            pathChanged: function(oldValue, newValue) {
                var self = this;
                this.parts = [];
                var regex = newValue.replace(/:([\w\d]+)/g, function(match, name) {
                    self.parts.push(name);
                    return "([^\/]+)";
                });
                regex = regex.replace(/\*([\w\d]+)/g, function(match, name) {
                    self.parts.push(name);
                    return "(.*)";
                });
                this.regex = new RegExp("^" + regex + "/?$", "i");
            },
            matchPath: function(path) {
                if (!this.regex || !this.parts)
                    return null;
                var match = path.match(this.regex);
                if (!match)
                    return null;
                var result = {};
                this.parts.forEach(function(name, i) {
                    result[name] = match[i + 1];
                });
                return result;
            },
            createView: function(path) {
                if (!this.element)
                    return null;
                var params = this.matchPath(path);
                if (!params)
                    return null;
                var element = document.createElement(this.element);
                Object.keys(params).forEach(function(name) {
                    element.setAttribute(name, params[name]);
                });
                return element;
            },
        });
    </script>
</polymer-element>
