
<link rel="import" href="cr-butterbar.html">
<link rel="import" href="cr-button.html">
<link rel="import" href="cr-dialog.html">
<link rel="import" href="cr-toolbar.html">

<polymer-element name="cr-try-dialog" attributes="issue">
    <template>
        <link rel="stylesheet" href="common.css">
        <link rel="stylesheet" href="forms.css">
        <style>
            #servers {
                height: 500px;
                margin: 0.5em 16px;
                overflow-y: scroll;
            }

            h2 {
                color: #959595;
                margin: 0;
                padding: 0;
            }

            .builders {
                padding: 0.5em 16px;
            }

            label {
                display: block;
            }
        </style>

        <dialog is="cr-dialog" id="dialog" on-cancel="{{ cancel }}">
            <cr-butterbar message="{{ butterbarMessage }}"></cr-butterbar>

            <h1>Add try jobs</h1>

            <div class="form-row">
                <label class="form-label" for="filter">Filter</label>
                <div class="form-field" id="filter">
                    <input type="text" value="{{ filter }}">
                </div>
            </div>

            <fieldset id="servers" disabled?="{{ sending }}">
                <template repeat="{{ server in filteredServers }}">
                    <h2>{{ server.master }}</h2>
                    <div class="builders">
                        <template repeat="{{ builder in server.builders }}">
                            <label class="builder">
                                <input type="checkbox" checked="{{ checked[builder] }}">
                                {{ builder }}
                            </label>
                        </template>
                    </div>
                </template>
            </fieldset>

            <cr-toolbar>
                <cr-button primary on-tap="{{ save }}">Add</cr-button>
                <cr-button on-tap="{{ cancel }}">Cancel</cr-button>
            </cr-toolbar>
        </dialog>
    </template>
    <script>
        Polymer("cr-try-dialog", {
            filteredServers: TryServers.SERVERS,
            issue: null,
            checked: {},
            butterbarMessage: "",
            saving: false,
            filter: "",
            cancel: function(event) {
                this.close();
            },
            reset: function() {
                this.saving = false;
                this.butterbarMessage = "";
                this.checked = {};
                this.filter = "";
            },
            close: function() {
                this.reset();
                this.$.dialog.close();
            },
            save: function(options) {
                var builders = [];
                Object.keys(this.checked, function(builder, checked) {
                    if (checked)
                        builders.push(builder);
                });
                this.saving = true;
                this.butterbarMessage = "Saving...";
                this.issue.setFlags({builders: builders})
                    .then(this.saveSuccess.bind(this))
                    .catch(this.saveFailure.bind(this));
            },
            saveSuccess: function() {
                this.fire("issue-refresh");
                this.close();
            },
            saveFailure: function(error) {
                // FIXME: We should show an better error message.
                this.saving = false;
                this.butterbarMessage = "Error: " + error.message;
            },
            showModal: function() {
                if (!this.issue)
                    return;
                this.$.dialog.showModal();
            },
            filterChanged: function() {
                this.filteredServers = TryServers.SERVERS;
                var filter = this.filter;
                if (!filter.length)
                    return;
                this.filteredServers = TryServers.SERVERS.map(function(server) {
                    server = Object.clone(server);
                    server.builders = server.builders.filter(function(builder) {
                        return builder.contains(filter);
                    });
                    return server;
                }).filter(function(server) {
                    return server.builders.length;
                });
            },
        });
    </script>
</polymer-element>
