
<polymer-element name="cr-view" attributes="pathprefix">
    <template>
        <style>
            :host { display: block; }
        </style>
    </template>
    <script>
        Polymer("cr-view", {
            routes: [],
            activeView: null,
            pathprefix: "",
            created: function() {
                this.observer = new MutationObserver(this.childrenChanged.bind(this));
                this.observer.observe(this, {childList:true});
                this.routeChanged = this.routeChanged.bind(this);
                this.handleNavigate = this.handleNavigate.bind(this);
            },
            attached: function() {
                this.async(this.replaceInitialUrl);
                window.addEventListener("popstate", this.routeChanged);
                document.addEventListener("navigate", this.handleNavigate);
            },
            detached: function() {
                window.removeEventListener("popstate", this.routeChanged);
                document.removeEventListener("navigate", this.handleNavigate);
            },
            replaceInitialUrl: function() {
                var url = window.location.pathname + window.location.search + window.location.hash;
                if (url.startsWith(this.pathprefix))
                    url = url.replace(this.pathprefix, "");
                window.history.replaceState(null, null, url);
                this.async(this.routeChanged);
            },
            handleNavigate: function(event) {
                window.history.pushState(null, null, event.detail.url);
                this.async(this.routeChanged);
            },
            routeChanged: function() {
                var self = this;
                var path = window.location.pathname;
                User.loadCurrentUser().then(function() {
                    self.routes.any(function(route) {
                        var newView = route.createView(path);
                        if (!newView)
                            return false;
                        self.swapViews(newView);
                        return true;
                    });
                }).catch(function(e) {
                    console.log(e);
                    // FIXME: Handle there not being a current user or an error.
                });
            },
            childrenChanged: function() {
                var routes = toArray(this.querySelectorAll("cr-route"));
                // Prevent infinite loop inside Shadow DOM polyfill since our
                // ShadowRoot's children are also our real children.
                if (this.routes.intersect(routes).length === routes.length)
                    return;
                this.routes = routes;
                this.async(this.routeChanged);
            },
            swapViews: function(newView) {
                if (this.activeView)
                    this.activeView.remove();
                this.activeView = newView;
                this.shadowRoot.appendChild(newView);
            }
        });
    </script>
</polymer-element>
