
<polymer-element name="cr-view" attributes="pathprefix">
    <template>
        <style>
            :host { display: block; }
        </style>
    </template>
    <script>
        Polymer("cr-view", {
            activeView: null,
            pathprefix: "",
            created: function() {
                this.handleNavigate = this.handleNavigate.bind(this);
            },
            attached: function() {
                // Use setTimeout instead of this.async since raf won't fire in
                // background tabs and we want to bootstrap the inital view even
                // for those tabs.
                setTimeout(this.replaceInitialUrl.bind(this), 0);
                window.addEventListener("popstate", this.routeChanged);
                document.addEventListener("navigate", this.handleNavigate);
            },
            detached: function() {
                window.removeEventListener("popstate", this.routeChanged);
                document.removeEventListener("navigate", this.handleNavigate);
            },
            replaceInitialUrl: function() {
                var url = window.location.pathname + window.location.search + window.location.hash;
                if (url.startsWith(this.pathprefix))
                    url = url.replace(this.pathprefix, "");
                window.history.replaceState(null, null, url);
                this.routeChanged();
            },
            handleNavigate: function(event) {
                window.history.pushState(null, null, event.detail.url);
                this.async(this.routeChanged);
            },
            routeChanged: function() {
                var self = this;
                var path = window.location.pathname;
                var routes = toArray(this.querySelectorAll("cr-route"));
                routes.any(function(route) {
                    var newView = route.createView(path);
                    if (!newView)
                        return false;
                    if (path == "/login") {
                        self.swapViews(newView);
                        return true;
                    }
                    User.loadCurrentUser().then(function() {
                        self.swapViews(newView);
                    }).catch(function(e) {
                        if (e instanceof XMLHttpRequest && !e.status) {
                            self.asyncFire("navigate", {
                                url: "/login#" + path,
                            });
                        }
                        // FIXME: Handle errors.
                        console.log(e);
                    });
                    return true;
                });
            },
            swapViews: function(newView) {
                if (this.activeView)
                    this.activeView.remove();
                this.activeView = newView;
                this.shadowRoot.appendChild(newView);
            }
        });
    </script>
</polymer-element>
