
.form-fields {
    display: table;
    width: 100%;
}

.form-row {
    display: table-row;
}

.form-label {
    font-weight: bold;
    color: #959595;
    -webkit-user-select: none;
    cursor: default;
}

.form-field {
    width: 100%;
    position: relative;
}

.form-label,
.form-field {
    display: table-cell;
    padding: 1em 16px;
    vertical-align: top;
}

.form-error {
    display: block;
    color: #DD4B39;
    font-weight: bold;
    padding-top: 0.5em;
}
