
<link rel="import" href="../components/cr-issue.html">
<link rel="import" href="../components/cr-issue-datasource.html">

<polymer-element name="cr-issue-view" attributes="issueId">
    <template>
        <style>
            :host { display: block; }

            p {
                padding: 1em;
                font-size: 2em;
            }

            h1 {
                margin: 0;
                padding: 0.5em 16px;
                font-size: 1.5em;
            }
        </style>
        <template if="{{ state == 'loading' }}">
            <p>
                Loading issue {{ issueId }}...
            </p>
        </template>
        <template if="{{ state == 'error' }}">
            <p>
                Failed to load issue {{ issueId }}. :(
            </p>
        </template>
        <template if="{{ state == 'loaded' }}">
            <cr-issue
                issue="{{ issue }}"
                on-issue-refresh="{{ loadIssue }}"></cr-issue>
        </template>
        <cr-issue-datasource
            id="datasource"
            issueId="{{ issueId }}"
            issue="{{ issue }}"
            on-change="{{ handleIssueChange }}"
            on-error="{{ handleIssueError }}"></cr-issue-datasource>
    </template>
    <script>
        Polymer("cr-issue-view", {
            created: function() {
                this.issue = null;
                this.issueId = 0;
                this.state = "";
            },
            issueIdChanged: function() {
                this.state = "loading";
                this.fire("title-change", {
                    value: "Issue " + this.issueId,
                });
            },
            handleIssueChange: function() {
                this.state = "loaded";
                this.fire("title-change", {
                    value: "Issue " + this.issue.id + ": " + this.issue.subject,
                });
                // FIXME: We should load patchsets on demand, unfortunately we can't
                // get the patchset titles from the JSON we load. We could switch to
                // screen scraping the issue page but that would be really slow.
                this.issue.patchsets.forEach(function(patchset) {
                    patchset.loadDetails().catch(function(e) {
                        // FIXME: Show an error message.
                        console.log(e);
                    });
                });
            },
            handleIssueError: function(event) {
                console.log(event.detail);
                this.state = "error";
            },
            loadIssue: function() {
                this.$.datasource.sync();
            },
        });
    </script>
</polymer-element>
