
<link rel="import" href="../components/cr-issue.html">

<polymer-element name="cr-issue-view" attributes="issueId">
    <template>
        <style>
            :host { display: block; }

            p {
                padding: 1em;
                font-size: 2em;
            }

            h1 {
                margin: 0;
                padding: 0.5em 16px;
                font-size: 1.5em;
            }
        </style>
        <template if="{{ !issue && !failed }}">
            <p>
                Loading issue {{ issueId }}...
            </p>
        </template>
        <template if="{{ failed }}">
            <p>
                Failed to load issue {{ issueId }}. :(
            </p>
        </template>
        <template if="{{ issue && !failed }}">
            <cr-issue
                issue="{{ issue }}"
                on-message-save="{{ saveMessage }}"
                on-issue-save="{{ saveDetails }}"
                on-quick-lgtm="{{ quickLgtm }}"
                on-quick-lgtm-and-commit="{{ quickLgtmAndCommit }}"></cr-issue>
        </template>
    </template>
    <script>
        Polymer("cr-issue-view", {
            issue: null,
            issueId: 0,
            attached: function() {
                var self = this;
                this.loadIssue();
            },
            loadIssue: function() {
                var self = this;
                var issue = new Issue(this.issueId);
                return issue.loadDetails().then(function() {
                    // FIXME: We should load patchsets on demand, unfortunately we can't
                    // get the patchset titles from the JSON we load. We could switch to
                    // screen scraping the issue page but that would be really slow.
                    issue.patchsets.forEach(function(patchset) {
                        patchset.loadDetails().catch(function(e) {
                            // FIXME: We should show an error message.
                            console.log(e);
                        });
                    });
                    self.issue = issue;
                }).catch(function(error) {
                    console.log(error);
                    self.failed = true;
                });
            },
            saveDetails: function(event) {
                var self = this;
                this.issue.edit(event.detail).then(function() {
                    return self.loadIssue();
                }).catch(function(e) {
                    console.log(e);
                    // FIXME: We should show an error message.
                });
            },
            saveMessage: function(event) {
                if (event.detail.messageText)
                    this.publish({message: event.detail.messageText});
            },
            quickLgtm: function(options) {
                this.publish({lgtm: true});
            },
            quickLgtmAndCommit: function(options) {
                this.publish({
                    lgtm: true,
                    commit: true,
                });
            },
            publish: function(options) {
                var self = this;
                this.issue.publish(options).then(function() {
                    return self.loadIssue();
                }).catch(function(e) {
                    console.log(e);
                    // FIXME: We should show an error message.
                });
            },
        });
    </script>
</polymer-element>
