
<link rel="import" href="../components/cr-issue.html">

<polymer-element name="cr-issue-view" attributes="issueId">
    <template>
        <style>
            :host { display: block; }

            p {
                padding: 1em;
                font-size: 2em;
            }

            h1 {
                margin: 0;
                padding: 0.5em 16px;
                font-size: 1.5em;
            }
        </style>
        <template if="{{ !issue && !failed }}">
            <p>
                Loading issue {{ issueId }}...
            </p>
        </template>
        <template if="{{ failed }}">
            <p>
                Failed to load issue {{ issueId }}. :(
            </p>
        </template>
        <template if="{{ issue && !failed }}">
            <cr-issue issue="{{ issue }}"></cr-issue>
        </template>
    </template>
    <script>
        Polymer("cr-issue-view", {
            issue: null,
            issueId: 0,
            attached: function() {
                var self = this;
                var issue = new Issue(this.issueId);
                issue.loadDetails().then(function() {
                    // FIXME: We should load patchsets on demand.
                    return Promise.all(issue.patchsets.map(function(patchset) {
                        return patchset.loadDetails();
                    }));
                }).then(function() {
                    self.issue = issue;
                }).catch(function(error) {
                    console.log(error);
                    self.failed = true;
                });
            },
        });
    </script>
</polymer-element>
