
<link rel="import" href="../components/cr-issue-inbox.html">

<polymer-element name="cr-inbox-view">
    <template>
        <link rel="stylesheet" href="../components/common.css">
        <style>
            :host { display: block; }

            p {
                padding: 1em;
                font-size: 2em;
            }
        </style>
        <template if="{{ !issues && !failed }}">
            <p>
                Loading your issues from Rietveld...
            </p>
        </template>
        <template if="{{ failed }}">
            <p>
                Failed to load issues. :(
            </p>
        </template>
        <template if="{{ issues && !failed }}">
            <h1 class="app-header">My Issues</h1>
            <cr-issue-inbox issues="{{ issues }}"></cr-issue-inbox>
        </template>
    </template>
    <script>
        Polymer("cr-inbox-view", {
            issues: null,
            loading: true,
            failed: false,
            attached: function() {
                var self = this;
                var issues = new IssueList();
                issues.loadIssues().then(function() {
                    self.issues = issues;
                }).catch(function(error) {
                    console.log(error);
                    self.failed = true;
                });
            },
        });
    </script>
</polymer-element>
