
<link rel="import" href="../components/cr-butterbar.html">
<link rel="import" href="../components/cr-settings-editor.html">

<polymer-element name="cr-settings-view">
    <template>
        <link rel="stylesheet" href="../components/common.css">
        <link rel="stylesheet" href="../components/forms.css">
        <style>
            :host { display: block; }
        </style>
        <cr-butterbar message="{{ butterbarMessage }}"></cr-butterbar>
        <h1 class="app-header">Settings for {{ user.name }}</h1>
        <template if="{{ settings }}">
            <cr-settings-editor settings="{{ settings }}" disabled="{{ disabled }}"></cr-settings-editor>
            <cr-toolbar>
                <cr-button primary on-tap="{{ save }}">Save</cr-button>
            </cr-toolbar>
        </template>
    </template>
    <script>
        Polymer("cr-settings-view", {
            settings: null,
            user: null,
            butterbarMessage: "",
            disabled: false,
            attached: function() {
                var self = this;
                var settings = new UserSettings();
                this.user = User.current;
                this.butterbarMessage = "Loading settings...";
                settings.loadDetails().then(function() {
                    self.settings = settings;
                    self.butterbarMessage = "";
                }).catch(function(e) {
                    self.butterbarMessage = "Error loading settings.";
                });
            },
            save: function() {
                if (!this.settings)
                    return;
                var self = this;
                this.butterbarMessage = "Saving...";
                this.disabled = true;
                this.settings.save().then(function() {
                    self.disabled = false;
                    self.butterbarMessage = "";
                }).catch(function(e) {
                    self.butterbarMessage = "Error: " + e.message;
                    console.log(e);
                });
            },
        });
    </script>
</polymer-element>
