
<link rel="import" href="../components/cr-issue-inbox.html">

<polymer-element name="cr-user-view" attributes="username">
    <template>
        <style>
            :host { display: block; }

            p {
                padding: 1em;
                font-size: 2em;
            }

            h1 {
                margin: 0;
                padding: 0.5em 16px;
                font-size: 1.5em;
            }
        </style>
        <template if="{{ !issues && !failed }}">
            <p>
                Loading issues for {{ username }}...
            </p>
        </template>
        <template if="{{ failed }}">
            <p>
                Failed to load issues. :(
            </p>
        </template>
        <template if="{{ issues && !failed }}">
            <h1>{{ username }}'s Issues</h1>
            <cr-issue-inbox issues="{{ issues }}"></cr-issue-inbox>
        </template>
    </template>
    <script>
        Polymer("cr-user-view", {
            username: "",
            issues: null,
            failed: false,
            attached: function() {
                var self = this;
                this.user = new User(this.username);

                // FIXME: This only partially works, if you go directly to #/user/{me} then
                // we don't know the current user yet. We could also redirect in that case,
                // but it'd mean we'd show the "Loading issues for {me}" screen first and also
                // that loading that page will take twice as long.
                if (this.user.isCurrentUser()) {
                    window.location.hash = "#/";
                    this.style.display = 'none';
                    return;
                }

                if (this.username.has("@")) {
                    window.location.hash = "#/user/" + encodeURIComponent(this.username.split("@")[0]);
                    this.style.display = 'none';
                    return;
                }

                this.user.loadIssues().then(function(issues) {
                    self.issues = issues;
                }).catch(function(error) {
                    console.log(error);
                    self.failed = true;
                });
            },
        });
    </script>
</polymer-element>
